<!-- _includes/projects.html -->
<div class="grid-sizer"></div>
<div class="grid-item" onmouseover="mouseoverBox1(this)" onmouseout="mouseoutBox1(this)">
  {% if project.redirect -%}
  <a href="{{ people.redirect }}">
    {%- else -%}
    <a href="{{ people.url | relative_url }}">
      {%- endif %}
      <div class="card hoverable">
        {%- if people.img %}
        {%- include figure.html
          path=people.img
          alt="people thumbnail" -%}
        {%- endif %}
        <div class="card-body">
          <h6 class="card-title" id="person_name">{{ people.title }}</h6>
          <p class="card-text" id="person_institute" hidden>{{ people.description }}</p>
          <p class="card-field text-lowercase" id="person_field" hidden>{{ people.field }}</p>
          <div class="row ml-1 mr-1 p-0">
            {%- if people.email -%}
            <div class="email-icon icon" style="padding-left: 4px;">
              <a href="mailto:{{ people.email | encode_email }}" title="email"><i class="fas fa-envelope"></i></a>
            </div>
            {% endif %}
            {%- if people.linkedin_username -%}
            <div class="linkdin-icon icon" style="padding-left: 4px;">
                <a href="https://www.linkedin.com/in/{{ people.linkedin_username }}"><i class="fab fa-linkedin gh-icon"></i></a>
            </div>
            {%- endif %}
            {%- if people.research_gate_profile -%}
            <div class="researchgate-icon icon" style="padding-left: 4px;">
              <a href="https://www.researchgate.net/profile/{{people.research_gate_profile}}/" title="ResearchGate"><i class="ai ai-researchgate"></i></a>
            </div>
            {% endif %}
            {%- if people.scholar_userid -%}
            <div class="scholar-icon icon" style="padding-left: 4px;">
              <a href="https://scholar.google.com/citations?user={{ people.scholar_userid }}" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </a>
</div>