<!-- _includes/projects.html -->
<div class="grid-sizer"></div>
<div class="grid-item">
  {% if project.redirect -%}
  <a href="{{ resources.redirect }}">
    {%- else -%}
    <a href="{{ resources.url | relative_url }}">
      {%- endif %}
      <div class="card hoverable">
        {%- if resources.img %}
        {%- include figure.html
          path=resources.img
          alt="resources thumbnail" -%}
        {%- endif %}
        <div class="card-body">
          <h6 class="card-title">{{ resources.title }} 
            {%- if resources.rating %}
            <span class="rating">({{ resources.rating }}/10)</span>
            {%- endif %}
          </h6>
          <p class="card-description">{{ resources.description }}</p>
        </div>
      </div>
    </a>
</div>